<launch>
  <arg name="world_frame" default="odom" />
  <arg name="shoot_frame" default="shout_link" />
  <arg name="shoot_axis" default="x" />
  <arg name="spawn_offset" default="0.3" />
  <!-- 机器人射击点高度(m)，用于靶子高度对齐。默认 0.26 对应固定靶靶心距地面 26cm -->
  <arg name="shoot_height" default="0.26" />
  <param name="shoot_height" value="$(arg shoot_height)" />

  <node pkg="shoot_sim_race" type="shoot_sim_node" name="shoot_sim" output="screen">
    <param name="world_frame" value="$(arg world_frame)" />
    <param name="shoot_frame" value="$(arg shoot_frame)" />
    <param name="shoot_axis" value="$(arg shoot_axis)" />

    <param name="bullet_radius" value="0.02" />
    <param name="bullet_mass" value="0.001" />
    <param name="bullet_speed" value="30.0" />
    <param name="spawn_offset" value="$(arg spawn_offset)" />
    <param name="bullet_lifetime" value="6.0" />
    <param name="friction_mu" value="0.6" />
    <param name="friction_mu2" value="0.6" />
    <param name="restitution" value="0.05" />
  </node>
</launch>

